*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('../Assetts/images/fondo.jpg');
    background-size: cover;
}
.header{
    position: sticky;
    top: 0;
    z-index: 30;
    background-color: #0a5cb8;
    font-size: 16px;
    margin: 0;
    &__nav{
        &__title{
            text-decoration: none;
            color: #fff;
            font-size: 1.6em;
            &:hover{
                color: #FFF;
            }
        }
        &__button{
            margin-left: auto;
            &:focus{
                color: transparent;
            }
        }
        &__list{
            margin-left: auto;
            &__item{
                margin-right: 1em;
            }
            & a{
                padding: 0;
                font-size: 1.1em;
                font-weight: 700;
                color: #FFF;
                transition: 0.5s ease all;
                &:hover{
                    color: #FFF;
                    text-shadow: 1px 0 0 #FFF;
                }
                &:focus{
                    color: #FFF;
                }
            }
        }
    }
    
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
    border:  2px solid #FFF;
}

.title-section{
    text-align: center;
    color: #fff;
    margin: 1.2em auto;
    font-size: 16px;
    & h1{
        font-size: 2em;
    }
    & h2 {
        font-size: 1.1em;
    }
}
.buttons-section{
    display: flex;
    justify-content: center;
    gap: 2em;
    & button{
        font-size: 1em;
    }
}
.tablero{
    font-size: 16px;
    margin: 2em auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,14em);
    grid-template-rows: 14em ;
    gap: 10px;
    &__cuadro{ 
        transition: .5s ease all;
        &.azul{
            background: blue;
            &.resaltado{
                background-color:rgb(85, 173, 255);
            }
        }
        &.verde{
            background: green;
            &.resaltado{
                background-color: rgb(39, 236, 39);
            }
        }
        &.rojo{
            background: red;
            &.resaltado{
                background-color: rgb(255, 82, 82);
            }
        }
        &.violeta{
            background: blueviolet;
            &.resaltado{
                background-color: rgb(194, 129, 255);
            }
        }
        &:hover{
            filter: drop-shadow(1px 1px 2px #dad6d6);
            cursor:pointer;
        }
    }
}
.informacion{
    font-size: 16px;
    color: #FFF;
    margin: 0 1em;
    & h3{
        text-align: center;
        font-size: 1.4em;
        margin: .2em 0;
    }
    &__status{
        background-color:#1466c3;
        padding: 1em;
        &__label{
            display: flex;
            padding: .3em 0;
            font-size: 1.1em;
            & p{
                margin: 0 2em;
                
            }
            &__status{
                font-weight: 700;
            }
            &__nivel{
                font-weight: 700;
            }
        }
    }
    &__datos{
        padding: 1em;
        background-color: #1466c3;
        &__label{
            display: flex;
            padding: .3em 0;
            & p{
                margin: 0 2em;
            }
            &__datos{
                font-weight: 700;
                font-style: italic;
            }
        }
    }
}
.bordes{
    border-right: 3px solid #FFF;
}
.usuario-validation{
    color: red;
}


@media only screen and (max-width:575px){
    .tablero{
        font-size: 14px;
        grid-template-columns: repeat(2,11.5em);
        grid-template-rows: repeat(2,11.5em);
    }
    .bordes{
        border-right: none;
        border-bottom: 3px solid #FFF;
    }
}
@media only screen and (min-width:576px) and (max-width:767px) {
    .tablero{
        font-size: 15px;
        grid-template-columns: repeat(2,14em);
        grid-template-rows: 14em 14em;
    }
    .bordes{
        border-right: none;
        border-bottom: 3px solid #FFF;
    }
}
@media only screen and (min-width:768px) and (max-width:992px) {
    .tablero{
        font-size: 16px;
        grid-template-columns: repeat(2,15em);
        grid-template-rows: 15em 15em;
        &__cuadro{
            height: 14em;
            width: 14em;

            }
    }
    .bordes{
        border-right: none;
        border-bottom: 3px solid #FFF;
    }
}